@model RPS.Web.Pages.Backlog.PtItemCommentsVm


<form method="post">

    <input type="hidden" asp-for="@Model.ItemId" />

    <div class="form-row align-items-center">

        <user-avatar user="Model.CurrentUser" class="mr-3 li-avatar rounded"></user-avatar>

        <div class="col-sm-6">
            <input type="text" asp-for="@Model.NewCommentText" class="form-control" placeholder="Enter new comment..." />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>

</form>

<hr />

<ul id="listComments" class="list-unstyled">

    @foreach (var comment in Model.Comments)
    {
    <li class="media chitchat-item">
        <user-avatar user="comment.User" class="mr-3 li-avatar rounded"></user-avatar>
        <div class="media-body">
            <h6 class="mt-0 mb-1"><span>@comment.User.FullName</span><span class="li-date">@comment.DateCreated.ToString("MMM d, yyyy")</span></h6>

            <span type="text" class="chitchat-text ">@comment.Title</span>
        </div>
    </li>
    }

</ul>