@page "/Backlog/{Preset?}"
@model RPS.Web.Pages.Backlog.ItemsModel


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Backlog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="My">My Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Open">Open Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Closed">Done Items</a>
        </div>

        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Create">Add</a>
        </div>

    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Assignee</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Estimate</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="pt-table-row" onclick="location.href = '/@item.Id/Details'">

                    <td>
                        <item-type-indicator item-type="@item.Type" class="backlog-icon"></item-type-indicator>
                    </td>
                    <td>
                        <user-avatar user="@item.Assignee"></user-avatar>
                    </td>
                    <td><span class="li-title">@Html.DisplayFor(modelItem => item.Title)</span></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <priority-indicator priority="@item.Priority"></priority-indicator>
                    </td>
                    <td><span class="li-estimate">@Html.DisplayFor(modelItem => item.Estimate)</span></td>
                    <td><span class="li-date">@item.DateCreated.ToString("MMM d, yyyy")</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section styles {
    <link href="~/css/backlog.css" rel="stylesheet" />
}

